absl-py==2.1.0
dm-env==1.6
numpy==2.1.0
portpicker==1.6.0
pygame>=2.6.0
pillow>=10.4.0
gymnasium==0.29.1
protobuf==5.29.6
grpcio==1.69.0
grpcio-tools==1.69.0
cloudpickle==3.0.0
farama-notifications==0.0.4
typing-extensions==4.11.0
psutil==5.9.8
dm-tree
attrs>=18.2.0
wrapt>=1.11.2
